<div class="container-fluid">
  <div class="row top-buffer">
    <div class="col-md-10 col-md-offset-1">
      <div side-bar-button></div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center">Subscribed RSO Feed:</h3>
        </div>
        <div class="panel-body pre-scrollable">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Event</th>
              <th>RSO</th>
              <th>Date</th>
              <th>University</th>
              <th>Proximity</th>
              <th>Details</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="feed in dashCtrl.rsoFeed">
              <td>{{ feed.event }}</td>
              <td>{{ feed.rso }}</td>
              <td>{{ feed.date }}</td>
              <td>{{ feed.university }}</td>
              <td>{{ feed.proximity }}</td>
              <td>
                <div class="btn-group-vertical">
                  <button class="btn btn-success">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                  </button>
                  <button class="btn btn-primary">
                    <i class="fa fa-eye" aria-hidden="true"></i> View
                  </button>
                  <button class="btn btn-danger">
                    <i class="fa fa-close" aria-hidden="true"></i> Leave
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="text-center">Make RSO:</h3>
            </div>
            <div class="panel-body">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="rso-name">RSO Name:</label>
                  <input type="text" class="form-control" id="rso-name" ng-model="dashCtrl.rsoData.name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="rso-email-1">Member #1 Email:</label>
                  <input type="text" class="form-control" id="rso-email-1" ng-model="dashCtrl.rsoEmail1">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="rso-email-2">Member #2 Email:</label>
                  <input type="text" class="form-control" id="rso-email-2" ng-model="dashCtrl.rsoEmail2">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="rso-email-3">Member #3 Email:</label>
                  <input type="text" class="form-control" id="rso-email-3" ng-model="dashCtrl.rsoEmail3">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="rso-email-4">Member #4 Email:</label>
                  <input type="text" class="form-control" id="rso-email-4" ng-model="dashCtrl.rsoEmail4">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="rso-email-4">Member #5 Email:</label>
                  <input type="text" class="form-control" id="rso-email-5" ng-model="dashCtrl.rsoEmail5">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="description">Description:</label>
                  <textarea class="form-control" rows="5" id="rso-description"
                            ng-model="dashCtrl.rsoData.description"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <button class="btn btn-success pull-right" ng-click="dashCtrl.requestRso()">
                  Request RSO
                </button>
              </div>
            </div>
            <div class="panel-footer">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center">Make Event:</h3>
        </div>
        <div class="panel-body">
          <div class="col-md-6">
            <div class="form-group">
              <label for="owned-rsos">RSO:</label>
              <select id="owned-rsos" class="form-control"
                      ng-model="dashCtrl.eventData.rsoId"
                      ng-options="obj.id as obj.name for obj in dashCtrl.rsoList"></select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="event-name">Name:</label>
              <input type="text" class="form-control" id="event-name" ng-model="dashCtrl.eventData.name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="event-type">Type:</label>
              <select id="event-type" class="form-control" ng-model="dashCtrl.eventData.type"></select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="event-category">Category:</label>
              <select id="event-category" class="form-control" ng-model="dashCtrl.eventData.category">
                <option value="test">test</option>
              </select>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="description">Description:</label>
              <textarea class="form-control" rows="5" id="description"
                        ng-model="dashCtrl.eventData.description"></textarea>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="event-date">Start Date:</label>
              <input id="event-date" class="form-control" ng-model="dashCtrl.startDate" type="date">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="event-time-start">Start Time:</label>
              <input id="event-time-start" class="form-control" ng-model="dashCtrl.startTime" type="time">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="event-date-end">End Date:</label>
              <input id="event-date-end" class="form-control" ng-model="dashCtrl.endDate" type="date">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="event-time-end">End Time:</label>
              <input id="event-time-end" class="form-control" ng-model="dashCtrl.endTime" type="time">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="event-phone">Phone:</label>
              <input id="event-phone" class="form-control" ng-model="dashCtrl.eventData.contactPhone">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="event-email">Email:</label>
              <input id="event-email" class="form-control" ng-model="dashCtrl.eventData.contactEmail">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="event-privacy">Privacy:</label>
              <select id="event-privacy" class="form-control" ng-model="dashCtrl.eventData.privacy">
                <option value="1">RSO Only</option>
                <option value="2">Private</option>
                <option value="3">Public</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="event-location-name">Location Name:</label>
              <input id="event-location-name" class="form-control" ng-model="dashCtrl.eventData.locationName">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="event-location-lat">Location Latitude:</label>
              <input id="event-location-lat" class="form-control" ng-model="dashCtrl.eventData.locationLat">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="event-location-long">Location Longitude:</label>
              <input id="event-location-long" class="form-control" ng-model="dashCtrl.eventData.locationLon">
            </div>
          </div>
          <div class="col-md-12">
            <button class="btn btn-success pull-right" ng-click="dashCtrl.createEvent()">
              Create Event
            </button>
          </div>
        </div>
        <div class="panel-footer">
        </div>
      </div>
    </div>
  </div>
</div>
