<div class="container-fluid">
    <div class="row top-buffer">
        <div class="col-md-5 col-md-offset-1">
            <div class="row">
                <div class="col-md-12">
                    <div ng-map center="[40.74, -74.18]"></div>
                </div>
                <div class="col-md-12 top-buffer">
                    <div event-detail
                          start-date="{{eventCtrl.getDate(eventCtrl.eventData.startTime)}}" start-time="{{eventCtrl.getTime(eventCtrl.eventData.startTime)}}"
                          end-date="{{eventCtrl.getDate(eventCtrl.eventData.endTime)}}" end-time="{{eventCtrl.getTime(eventCtrl.eventData.endTime)}}"
                     phone="{{eventCtrl.eventData.contactPhone}}" email="{{eventCtrl.eventData.contactEmail}}"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div event-overview name="{{eventCtrl.eventData.name}}" uni="{{eventCtrl.eventData.category}}" descr="{{eventCtrl.eventData.description}}"></div>
            <div social-media message="Check this event out: {{eventCtrl.eventData.name}}"></div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row top-buffer">
        <div class="col-md-10 col-md-offset-1">
            <div class="well">
                <img src="http://placehold.it/1200x500" class="img-responsive img-center" alt="Responsive image">
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row top-buffer">
        <div class="col-md-7 col-md-offset-1">
            <div event-chat comments="eventCtrl.comments"></div>
        </div>
        <div class="col-md-3">
            <div event-rating local="0.5"></div>
            <div event-review></div>
        </div>
    </div>
</div>
