<!-- Header -->
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 panel-image">
                <div class="intro-message">
                    <h1>Event Manager</h1>
                    <h3>University-Based Event Postings</h3>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->

<!-- Page Content -->

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Open Source:</h2>
                <div class="lead">
                    <ul>
                        <li>Front End Repo:
                            <a href="https://github.com/Tresky/event-web">
                                https://github.com/Tresky/event-web</a>
                        </li>
                        <li>Back End Repo:
                            <a href="https://github.com/Tresky/event-api">
                                https://github.com/Tresky/event-api
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/feed.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->

<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Spring 2017, Group #15:</h2>
                <div class="lead">
                    <ul>
                        <li>Tyler Gauntlett</li>
                        <li>Tyler Petresky</li>
                        <li>Khoa Hoang</li>
                        <li>Kara Singletary</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="img/chat.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->

<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Project Documentation:</h2>
                <div class="lead">
                    <ul>
                        <li>
                            Requirements Docs:
                            <a href="https://github.com/Tresky/event-web/wiki">
                                https://github.com/Tresky/event-web/wiki
                            </a>
                        </li>
                        <li>
                            Project Structure Docs:
                            <a href="https://github.com/Tresky/event-web/wiki/File-Structure">
                                https://github.com/Tresky/event-web/wiki/File-Structure
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="img/google-maps.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->