.list,
.timeline
  list-style none

.list
  margin 0
  padding 0

.list li
  margin-bottom 10px
  padding-bottom 5px
  border-bottom 1px solid #999

.list li.left .list-body
  margin-left 60px

.list li.right .list-body
  margin-right 60px

.list li .list-body p
  margin 0

.list .glyphicon,
.panel .slidedown .glyphicon
  margin-right 5px

.list-panel .panel-body
  height 475px
  overflow-y scroll

.top-buffer
  margin-top 20px

.rating
  font-size 30px

.img-center
  margin 0 auto

.panel-gray
  background-color #333

.center
  text-align center