<div class="container-fluid">
    <div class="row top-buffer">
        <div class="col-md-5 col-md-offset-1">
            <div class="row">
                <div class="col-md-12">
                    <div class="well">
                        <img src="http://placehold.it/800x500" class="img-responsive" alt="Responsive image">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="text-center">University Details:</h3>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                <i class="fa fa-graduation-cap" aria-hidden="true"></i> Name: {name}
                            </div>
                            <div class="col-md-12">
                                <i class="fa fa-align-left" aria-hidden="true"></i> Description: {description}
                            </div>
                            <div class="col-md-12">
                                <i class="fa fa-user" aria-hidden="true"></i> Number of Students: {num_of_students}
                            </div>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="list-panel panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-list"><span> RSO List</span></i>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <ul class="list">
                        <li class="left clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="btn-group-vertical">
                                        <button class="btn btn-success">Subscribe
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-info">Details
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h3 class="center">{rso_name}</h3>
                                </div>
                            </div>
                        </li>
                        <li class="left clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="btn-group-vertical">
                                        <button class="btn btn-success">Subscribe
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-info">Details
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h3 class="center">{rso_name}</h3>
                                </div>
                            </div>
                        </li>
                        <li class="left clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="btn-group-vertical">
                                        <button class="btn btn-success">Subscribe
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-info">Details
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h3 class="center">{rso_name}</h3>
                                </div>
                            </div>
                        </li>
                        <li class="left clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="btn-group-vertical">
                                        <button class="btn btn-success">Subscribe
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-info">Details
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h3 class="center">{rso_name}</h3>
                                </div>
                            </div>
                        </li>
                        <li class="left clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="btn-group-vertical">
                                        <button class="btn btn-success">Subscribe
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-info">Details
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h3 class="center">{rso_name}</h3>
                                </div>
                            </div>
                        </li>
                        <li class="left clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="btn-group-vertical">
                                        <button class="btn btn-success">Subscribe
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-info">Details
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h3 class="center">{rso_name}</h3>
                                </div>
                            </div>
                        </li>
                        <li class="left clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="btn-group-vertical">
                                        <button class="btn btn-success">Subscribe
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-info">Details
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h3 class="center">{rso_name}</h3>
                                </div>
                            </div>
                        </li>
                        <li class="left clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="btn-group-vertical">
                                        <button class="btn btn-success">Subscribe
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-info">Details
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h3 class="center">{rso_name}</h3>
                                </div>
                            </div>
                        </li>
                        <li class="left clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="btn-group-vertical">
                                        <button class="btn btn-success">Subscribe
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-info">Details
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h3 class="center">{rso_name}</h3>
                                </div>
                            </div>
                        </li>
                        <li class="left clearfix">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="btn-group-vertical">
                                        <button class="btn btn-success">Subscribe
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                        <button class="btn btn-info">Details
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <h3 class="center">{rso_name}</h3>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-md-10 col-md-offset-1">
            <div class="well">
                <img src="http://placehold.it/1200x500" class="img-responsive img-center" alt="Responsive image">
            </div>
        </div>
    </div>
</div>